@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Space+Grotesk:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face{
   font-family: erasNormal;
   src:url(fonts/ERASDEMI.TTF) ;
}

@font-face{
   font-family: erasBold;
   src:url(fonts/ERASBD.TTF) ;
}

:root{
    --primary-color: #202020;
    --orange-color: #ff5100;
    --font-primary: 'Ubuntu', sans-serif;
}


*{
    text-decoration: none;
    margin: 0;
    align-items: center;
    
}

* a{
    color: #fff;
}

body{
    background: var(--primary-color);
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    justify-content: space-between;
    background: #000;
}

.logo {

}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-primary);
}

.navbar-item {
    list-style: none;
    padding: 0 20px 0 20px;
}

.navbar-item a:hover{
    color: var(--orange-color);
    cursor: pointer;
    transition: 0.3s all;
}

#menu-e-btn{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    justify-content: space-between;
}

.btn-navbar{
    text-decoration: none;
    background-color: var(--orange-color);
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid var(--orange-color)
}

.btn-navbar:hover{
    
    background-color: #000;
    border: 2px solid var(--orange-color);
    cursor: pointer;
    transition: 0.3s all;
}
.btn-navbar a:hover{
    color: var(--orange-color);
}