@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Space+Grotesk:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face{
   font-family: erasNormal;
   src:url(fonts/ERASDEMI.TTF) ;
}

@font-face{
   font-family: erasBold;
   src:url(fonts/ERASBD.TTF) ;
}

:root{
    --primary-color: #202020;
    --purple-color: #874eaa;
    --white: #fff;
    --font-primary: 'Ubuntu', sans-serif;
}


*{
    text-decoration: none;
    margin: 0;
    align-items: center;
    
}

* a{
    color: #fff;
}

body{
    background: var(--primary-color);
}

/*TODO: INICIO NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #000;
}

.logo {
    width: 60px;
    height: 60px;
}

.logo:hover{
    width: 65px;
    height: 65px;
    transition: 0.3s all;
}

.logo:not(hover) {
    transition: 0.3s all;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-primary);
}

.navbar-item {
    list-style: none;
    padding: 0 20px 0 20px;
}

.navbar-item a:hover{
    color: var(--purple-color);
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s all;
}

.navbar-item a:not(hover){
    transition: 0.3s all;
}

#menu-e-btn{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    justify-content: space-between;
}

.btn-navbar{
    text-decoration: none;
    background-color: var(--purple-color);
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid var(--purple-color)
}

.btn-navbar:hover{
    
    background-color: #000;
    border: 2px solid var(--purple-color);
    padding: 14px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s all;
}
.btn-navbar a:hover{
    color: var(--purple-color);
}

.btn-navbar:not(hover){
    transition: 0.3s all;
}

/*TODO: FIM NAVBAR*/

.container-p {
    color: var(--white);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    font-family: var(--font-primary);
}

.main-content h1{
    padding-bottom: 10px;
}
.main-content h2{
    padding-bottom: 15px;
}

.titulo:hover{
    color: var(--purple-color);
    transition: 0.3s all;
}

.titulo:not(hover){
    transition: 0.3s all;
}

.img-content{
    width: 515px;
    height: 450px;
}

.btn-content{
    text-decoration: none;
    background-color: var(--purple-color);
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid var(--purple-color)
}

.btn-content:hover{
    background-color: transparent;
    border: 2px solid var(--purple-color);
    padding: 14px;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 27px;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-content:not(hover){
    transition: 0.3s all;
}

.btn-content a:hover{
    color: var(--purple-color);
}

/*TODO: INICIO PRODUTOS*/

.container-produtos h2{
    color: var(--white);
    font-weight: medium;
    font-size: 40px;
    font-family: var(--font-primary);
    padding: 25px;
}

.container-produtos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
}

.produtos{
    display: flex;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.produtos img{
    max-width: 250px;
    max-height: 250px;
}

.produto-box {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-weight: medium;
    font-size: 20px;
    font-family: var(--font-primary);
    padding: 30px;
}

.produto-box h2, h3, p{
    padding: 7px;
}

.produto-box p{
    padding-bottom: 15px;
    text-justify: auto;
    font-weight: 400;
}

.btn-produtos{
    text-decoration: none;
    background-color: var(--purple-color);
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid var(--purple-color)
}

.btn-produtos:hover{
    
    background-color: transparent;
    border: 2px solid var(--purple-color);
    cursor: pointer;
    transition: 0.3s all;
}
.btn-produtos a:hover{
    color: var(--purple-color);
}

.container-sobre {
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    text-justify: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-sobre h2{
    color: var(--white);
    font-weight: medium;
    font-size: 40px;
    font-family: var(--font-primary);
    padding: 25px;
}

.container-sobre h3{
    color: var(--white);
    font-weight: medium;
    font-size: 30px;
    font-family: var(--font-primary);
    padding: 25px;
    padding-bottom: 40px;
}

.texto-sobre {
    max-width: 600px;
}

.img-sobre {
    padding: 25px;
}

.btn-sobre{
    text-decoration: none;
    background-color: var(--purple-color);
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid var(--purple-color);
    margin-left: 25%;
}

.btn-sobre:hover{
    
    background-color: transparent;
    border: 2px solid var(--purple-color);
    cursor: pointer;
    transition: 0.3s all;
}
.btn-sobre a:hover{
    color: var(--purple-color);
}

.container-contatos{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;
    margin-bottom: 65px;
}

.container-contatos h2{
    color: var(--white);
    font-weight: medium;
    font-size: 40px;
    font-family: var(--font-primary);
    padding: 25px;
}

.box-contatos{
    display: flex;
    flex-direction: row;
    color: var(--white);
    font-weight: medium;
    font-size: 25px;
    font-family: var(--font-primary);
    gap: 25px;
}

.contatos {
    padding: 35px;
    background-color: var(--purple-color);
    border-radius: 10px;
}

.contatos:hover {
    padding: 40px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s all;
}

.contatos:not(hover) {
    transition: 0.3s all;
}