@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins&family=Roboto&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Space+Grotesk:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face{
   font-family: erasNormal;
   src:url(fonts/ERASDEMI.TTF) ;
}

@font-face{
   font-family: erasBold;
   src:url(fonts/ERASBD.TTF) ;
}

:root{
    --primary-color: #202020;
    --purple-color: #874eaa;
    --white: #fff;
    --font-primary: 'Ubuntu', sans-serif;
}


*{
    text-decoration: none;
    margin: 0;
    align-items: center;
    
}

* a{
    color: #fff;
}

body{
    background: var(--primary-color);
}

/*TODO: INICIO NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    justify-content: space-between;
    background: #000;
}

.logo {
    width: 60px;
    height: 60px;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-primary);
}

.navbar-item {
    list-style: none;
    padding: 0 20px 0 20px;
}

.navbar-item a:hover{
    color: var(--purple-color);
    cursor: pointer;
    transition: 0.3s all;
}

#menu-e-btn{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    justify-content: space-between;
}

.btn-navbar{
    text-decoration: none;
    background-color: var(--purple-color);
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid var(--purple-color)
}

.btn-navbar:hover{
    
    background-color: #000;
    border: 2px solid var(--purple-color);
    cursor: pointer;
    transition: 0.3s all;
}
.btn-navbar a:hover{
    color: var(--purple-color);
}

/*TODO: FIM NAVBAR*/

.container {
    color: var(--white);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    font-family: var(--font-primary);
}

.main-content h1{
    padding-bottom: 10px;
}
.main-content h2{
    padding-bottom: 15px;
}

.img-content{
    width: 515px;
    height: 450px;
}

.btn-content{
    text-decoration: none;
    background-color: var(--purple-color);
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid var(--purple-color)
}

.btn-content:hover{
    
    background-color: transparent;
    border: 2px solid var(--purple-color);
    cursor: pointer;
    transition: 0.3s all;
}
.btn-content a:hover{
    color: var(--purple-color);
}